OPENAI_ENDPOINT=https://api.openai.com/v1
OPENAI_API_KEY=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

ANTHROPIC_API_KEY=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
ANTHROPIC_ENDPOINT=https://api.anthropic.com

GOOGLE_API_KEY=AIzaSyBM3lGaM-Wa385b7jCyO_zcpfjoyAp-V_4

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=2025-01-01-preview

DEEPSEEK_ENDPOINT=https://api.deepseek.com
DEEPSEEK_API_KEY=sk-f46e7f5f0f134fb68154a10257d27db9

MISTRAL_API_KEY=HA5dh6EcBSNlMZMBBbJtIQozjoPPIlb4
MISTRAL_ENDPOINT=https://api.mistral.ai/v1

OLLAMA_ENDPOINT=http://localhost:11434

ALIBABA_ENDPOINT=https://dashscope.aliyuncs.com/compatible-mode/v1
ALIBABA_API_KEY=

MOONSHOT_ENDPOINT=https://api.moonshot.cn/v1
MOONSHOT_API_KEY=

UNBOUND_ENDPOINT=https://api.getunbound.ai
UNBOUND_API_KEY=

# Set to false to disable anonymized telemetry
ANONYMIZED_TELEMETRY=false

# LogLevel: Set to debug to enable verbose logging, set to result to get results only. Available: result | debug | info
BROWSER_USE_LOGGING_LEVEL=info

# Chrome settings
CHROME_PATH=
CHROME_USER_DATA=
CHROME_DEBUGGING_PORT=9222
CHROME_DEBUGGING_HOST=localhost
# Set to true to keep browser open between AI tasks
CHROME_PERSISTENT_SESSION=false
CHROME_CDP=
# Display settings
# Format: WIDTHxHEIGHTxDEPTH
RESOLUTION=1920x1080x24
# Width in pixels
RESOLUTION_WIDTH=1920
# Height in pixels
RESOLUTION_HEIGHT=1080

# VNC settings
VNC_PASSWORD=youvncpassword
